.contact-us-page {
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 100%;
    min-height: 90vh;
    padding: 2rem;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-info {
    background-color: #fff;
    padding: 2.3rem 2.2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .contact-info .title {
    color: #007bff;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .information i {
    color: #007bff;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #007bff, #144092);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-form {
    background-color: #007bff;
    padding: 2.3rem 2.2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .contact-form .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .textarea .input {
    min-height: 150px;
    resize: none;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .contactbtn {
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #007bff;
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
  }
  
  .contactbtn:hover {
    background-color: transparent;
    color: #fff;
  }